.head-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 70px;
}

.menu {
    margin-left: auto;
    height: 100%;
}

.btn {
    height: 100%;
    width: 200px;
}

.logo {
    height: 100%;
    width: 200px;
}

main {
    margin-top: 15px;
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height: 10px;
    font-weight: 200;
    color: brown;
    white-space: inherit;
}

.services {
    text-align: center;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    text-align: center;
}

.card-img {
    height: 200px;
    width: 200px;
}

.about {
    width: 100%;
}

.about section {
    margin-top: 5px;
}

.about-item {
    margin-top: 5px;
}

.foo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer-element {
    margin: 0 5px 0px 5px;
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* temp */

.absolute {
    position: absolute;
    top: 10px;
    max-width: 580px;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    table-layout: fixed;
}

.table-cell {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.table-head {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.odd {
    background-color: #f9f9f9;
}

.even {
    background-color: #e9e9e9;
}

@media screen and (max-width: 768px) {
    .table {
        table-layout: auto;
    }
    .absolute {
        max-width: 500px;
    }
}

@media screen and (max-width: 480px) {
    .table {
        display: block;
    }
    .table-cell {
        padding: 10px;
    }
    .absolute {
        max-width: 200px;
    }
}